<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:class="feed-next-ctr">

 <!--/* 
   This is the fragment for adding documents in a feed.
   This HTML is appended to the inner content of #feed in
   application.html
   
   Model objects:
     docs: List<? extends Document> which contains List<Tweet>
     url: String with the request for the next documents
 */-->
 <div th:replace="feed/tweets :: content" />
 <a th:if="${url}" th:class="hidden" th:href="@{${url}}">Next</a>

</div>
</body>
</html>

