<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<body>
 <div th:fragment="content">

  <!--/* Result Status and button to show kept/discard */-->
  <div class="tweet-width">

   <!--/* Kept Results */-->
   <p id="result-status" th:if="${isKept}">
    <strong>Kept <span class="nb-kept-results">0</span> in <span
     class="total-results">0</span> tweets
    </strong>
    <button type="button"
     class="btn btn-primary btn-xs feed-sel pull-right"
     th:attr="data-feed-type=${T(com.idilia.samples.ts.controller.FeedType).DISCARDED}">Show
     Discarded</button>
   </p>

   <!--/* Discarded Results */-->
   <p id="result-status" th:if="${!isKept}">
    <strong>Discarded <span class="nb-discarded-results">0</span>
     in <span class="total-results">0</span> tweets
    </strong>

    <button type="button"
     class="btn btn-primary btn-xs feed-sel pull-right"
     th:attr="data-feed-type=${T(com.idilia.samples.ts.controller.FeedType).KEPT}">Show
     Kept</button>
   </p>

  </div>

  <!--/* 
   This is the fragment for initiating the display of the feed.
   This HTML is loaded as the inner content of #feed in
   application.html
   
   Model objects:
     url: String with the request for the first documents
 */-->
  <div id="feed-inner" th:class="${isKept?'keep-list':'discard-list'}">
   <a class="hidden" th:href="@{${url}}">Next</a>
  </div>
 </div>
</body>
</html>


